body {
  font-size: 20px;
  background-image: url('cafe1.jpg');
  font-family: fantasy;
  color: brown;
}

input {
  font-size: 20px;
  text-align: center;
  width: 100%;
  max-width: 300px;
  border: 2px solid brown;
  border-radius: 5px;
  font-family: monospace;
}

.nav {
  background-color: black;
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 5%;
}

table {
  width: 90%;
  text-align: center;
  border-spacing: 5px;
  border: 5px solid black;
  border-collapse: collapse;
}

td {
  color: black;
}

.btn {
  font-size: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 100px;
  font-family: fantasy;
  cursor: pointer;
}

.btn:hover {
  background-color: yellow;
  color: red;
}

.dbtn {
  font-size: 20px;
  border-radius: 20px;
  font-family: fantasy;
}

.dbtn:hover {
  background-color: red;
  color: yellow;
}

ul {
  list-style-type: none;
}

li {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 40px;
}

input.largerCheckbox {
  transform: scale(2);
  margin-bottom: 10px;
}

img {
  display: block;
  width: 100px;
  border: 4px solid brown;
  padding: 10px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: brown;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
